<div class="sidebar">
  <ul class="sidebar-nav">
    <li>
      <a href="/dashboard"><i class="hvr-grow fa fa-home menu-icon fa-2x" aria-hidden="true"></i></a>
    </li>
    <li>
      <a href="/logout"><i class="hvr-grow fa fa-sign-out-alt menu-icon fa-2x" aria-hidden="true"></i>
      </a>
    </li>

  </ul>
</div>

<div id="content">

  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">

      <h2 class="welcome"><span class="member-name"></span></h2>

      <div class="project-nav-container">
        <div class="project-nav">
          {{!-- sample entry, handlebars should make this in the end --}}
          <div class="proj-container">
            {{#each projects}}
            <a href="#" class="project-nav-tab">
              <p class="proj-text">{{project_name}}</p>
            </a>
            {{else}}
            <a href="#" class="project-nav-tab">
              <p class="proj-text">Please Add Project ===></p>
            </a>
            {{/each}}
          </div>

          <a href="#" class="add-project" data-toggle="modal" data-target="#addProjectModal">
            <i class="fas fa-plus-square"></i>
          </a>
        </div>
        <div class="line"></div>
      </div>

      {{!-- we will just toggle this to disply: none; IF there are no projects in the database for the logged in user --}}
      {{#each projects}}


      <div class="container projDetailsCard">
        <div class="card proj-details " id="project{{id}}">
          <figure class="front">
            <div class="caption">
              <h2>Project Name: {{project_name}}</h2>
              <p>Project Details: {{project_description}}</p>
            </div>
          </figure>

          <figure class="back">
            <div class="caption">

              <dl>
                <p><strong>Starting Budget: </strong>{{start_budget}}</p>
                <p><strong>Remaining Budget: </strong><span value="{{remain_budget}}" id="remainBudget">{{remain_budget}}</span></p>
                <p><strong>Timeline: </strong><span value="{{project_length}}" id="timeline">{{project_length}}</span></p>
                <p><strong>Required Technologies: </strong><span value="{{desired_skills}}" id="desiredSkills">{{desired_skills}}</span></p>
                <p><strong>Dev Team Members: </strong><span id="devTeam">{{dev_team}}</span></p>
              </dl>

            </div>
          </figure>
        </div>
        
      </div>

      <div class="container">
        <button type="button" class="btn btn-primary big-button" data-toggle="modal" data-target="#addDeveloperModal"
          data-dismiss="modal">
          Add Devs
        </button>
      </div>

      


      {{!-- <div class="row proj-details" id="{{id}}">
          <div class="col-md-4">
              <p><strong>Project Name: </strong><span class="projectName" id="{{project_name}}">{{project_name}}</span></p>
              <p><strong>Starting Budget: </strong>{{start_budget}}</p>
              <p><strong>Remaining Budget: </strong><span value="{{remain_budget}}" id="remainBudget">{{remain_budget}}</span></p>
              <p><strong>Timeline: </strong><span value="{{project_length}}" id="timeline">{{project_length}}</span></p>
          </div>
          <div class="col-md-4">
              <p><strong>Required Technologies: </strong><span value="{{desired_skills}}" id="desiredSkills">{{desired_skills}}</span></p>
              <p><strong>Dev Team Members: </strong><span id="devTeam">{{dev_team}}</span></p>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addDeveloperModal"
                data-dismiss="modal" id="addDevButton">
                Add Devs
              </button>
          </div>
          <div class="col-md-4">
              <p><strong>Project Details: </strong>{{project_description}}</p>
          </div>
        </div> --}}
      {{else}}
      <div class="new-project-jumbotron jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Let's get started!</h1>

          <p class="lead">You don't seem to have any active projects yet, let's fix that! Click the "Add Project" button
            below to start the process!</p>
          <button type="button" class="new-project btn btn-primary hvr-grow" data-toggle="modal"
            data-target="#addProjectModal">
            Add Project
          </button>

        </div>
      </div>
      {{/each}}




    </div>
    <div class="col-md-1"></div>
  </div>

</div>



{{!-- Add Project modal --}}

<div class="modal fade" id="addProjectModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true" style="overflow-y: auto">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add a project</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="row">


          <div class="col-sm-12">
            <form>
              <h1>Let's Post a Job</h1>
              <div class="form-group">
                <label for="exampleFormControlInput1">Project Title</label>
                <input type="name" class="form-control" id="projectTitleInput" placeholder="Name of your project">
              </div>

              <div class="form-group">
                <label for="exampleFormControlSelect1">Project Duration</label>
                <select class="form-control" id="timelineInput">
                  <option value="1">1 Week</option>
                  <option value="2">2 Weeks</option>
                  <option value="3">3 Weeks</option>
                  <option value="4">4 Weeks</option>
                  <option value="5">5 Weeks</option>
                  <option value="6">6 Weeks</option>
                  <option value="7">7 Weeks</option>
                  <option value="8">8 Weeks</option>
                  <option value="9">9 Weeks</option>
                  <option value="10">10 Weeks</option>
                </select>
              </div>

              <div class="form-group">
                <label for="exampleFormControlSelect1">Project Budget ($$$)</label>
                <input type="name" class="form-control" id="projectBudgetInput"
                  placeholder="You can add additional funds later, if needed">
              </div>

              <div class="form-group">
                <label for="custom-checkbox">Required Job Skills</label>
                <div class="row">
                  <div class="col-sm-4">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" name="skills" class="custom-control-input" id="javascript">
                      <label class="custom-control-label" for="javascript">JavaScript
                        /JQuery</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" name="skills" class="custom-control-input" id="php">
                      <label class="custom-control-label" for="php">PHP</label>
                    </div>

                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" name="skills" class="custom-control-input" id="c">
                      <label class="custom-control-label" for="c">C++ /C</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" name="skills" class="custom-control-input" id="uiFrameworks">
                      <label class="custom-control-label" for="uiFrameworks">UI Frameworks</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" name="skills" class="custom-control-input" id="backEnd">
                      <label class="custom-control-label" for="backEnd">Back End</label>
                    </div>


                  </div>


                  <div class="col-sm-4">

                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" name="skills" class="custom-control-input" id="HTMLCSS">
                      <label class="custom-control-label" for="HTMLCSS">HTML /CSS</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" name="skills" class="custom-control-input" id="agile">
                      <label class="custom-control-label" for="agile">Agile /Scrumb
                        Development</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" name="skills" class="custom-control-input" id="graphicDesign">
                      <label class="custom-control-label" for="graphicDesign">Graphic Design</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" name="skills" class="custom-control-input" id="wordpress">
                      <label class="custom-control-label" for="wordpress">WordPress</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" name="skills" class="custom-control-input" id="blockchain">
                      <label class="custom-control-label" for="blockchain">Blockchain</label>
                    </div>


                  </div>


                  <div class="col-sm-4">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" name="skills" class="custom-control-input" id="nodejs">
                      <label class="custom-control-label" for="nodejs">NodeJS</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" name="skills" class="custom-control-input" id="mongoDB">
                      <label class="custom-control-label" for="mongoDB">MongoDB</label>
                    </div>

                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" name="skills" class="custom-control-input" id="uiux">
                      <label class="custom-control-label" for="uiux">UI/UX Design</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" name="skills" class="custom-control-input" id="seo">
                      <label class="custom-control-label" for="seo">SEO Design</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" name="skills" class="custom-control-input" id="drupal">
                      <label class="custom-control-label" for="drupal">Drupal</label>
                    </div>

                  </div>

                </div>
              </div>

              <div class="form-group">
                <label for="exampleFormControlTextarea1">Job Description</label>
                <textarea class="form-control" id="projectDescription" rows="3"
                  placeholder="Place all the details on the position here"></textarea>
              </div>



            </form>
          </div>

        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="submitNewProject" data-dismiss="modal">Submit</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="addDeveloperModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true" style="overflow-y: auto">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Developers</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="devChoiceForm">
          <div class="row">
            <div class="col-sm-12">

              {{#each devs}}
              {{#if available}}
              <div class="input-group mb-3" id="dev{{id}}">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <input type="checkbox" name="developers" aria-label="Checkbox for following text input"
                      id="{{name}}">
                  </div>
                  <div class="card">
                    <img class="card-img-top" src="{{dev_img}}" alt="{{name}}">
                    <div class="card-body">
                      <h5 class="card-title">{{name}}</h5>
                      <ul class="card-text">
                        <li>Skills: <span value="{{offered_skills}}"
                            class="devSkills">{{offered_skills}}</span>{{offered_skills}}</li>
                        <li>Rate (/week): <span value="{{rate}}" class="devRate">{{rate}}</span></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              {{/if}}
              {{/each}}

              <button type=" button" class="btn btn-primary" id="submitDevs" data-dismiss="modal">Submit Team</button>

        </form>
      </div>
    </div>

  </div>
</div>



<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script type="text/javascript" src="js/dashboard.js"></script>